<div class="container col-sm mt-5">
    <div class="container" *ngIf="movie">
        <h2 class="mb-4">Actualizar Pelicula</h2>
        <form (ngSubmit)="updateMovie()">
          <div class="form-group">
            <label for="title">dansdkajns</label>
            <input type="text" class="form-control" [(ngModel)]="movie.title" name="title" required>
          </div>
         
          <div class="form-group">
            <label for="synopsis">Sinopsis</label>
            <input type="text" class="form-control" [(ngModel)]="movie.synopsis" name="synopsis" required>
          </div>
         
          <div class="form-group">
            <label for="year">Año</label>
            <input type="number" class="form-control" [(ngModel)]="movie.year" name="year" required>
          </div>
   
   
            <div class="form-group">
            <label for="cover">Cubierta</label>
            <input type="cover" class="form-control" [(ngModel)]="movie.cover" name="cover" required>
            </div>
         
          <button type="submit" class="btn btn-dark m-2">Actualizar</button>
        </form>
      </div>
   </div>
   